doctype html
html
    head
        meta(name="viewport", content="width=320,height=device-height")
        link(rel='stylesheet', href='/css/site.css')
        include scripts
    body
        block content

